In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split


from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

authors_df= pd.read_csv('Authors_dataset.csv')

In [2]:
authors_df

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [3]:
y=authors_df['author']

In [4]:
y

0        EAP
1        HPL
2        EAP
3        MWS
4        HPL
        ...
19574    EAP
19575    EAP
19576    EAP
19577    EAP
19578    HPL
Name: author, Length: 19579, dtype: object

In [5]:
authors_df.drop(columns='author',inplace=True)

In [6]:
authors_df

            id                                               text
0      id26305  This process, however, afforded me no means of...
1      id17569  It never once occurred to me that the fumbling...
2      id11008  In his left hand was a gold snuff box, from wh...
3      id27763  How lovely is spring As we looked from Windsor...
4      id12958  Finding nothing else, not even gold, the Super...
...        ...                                                ...
19574  id17718  I could have fancied, while I looked at it, th...
19575  id08973  The lids clenched themselves together as if in...
19576  id05267  Mais il faut agir that is to say, a Frenchman ...
19577  id17513  For an item of news like this, it strikes us i...
19578  id00393  He laid a gnarled claw on my shoulder, and it ...

[19579 rows x 2 columns]

In [7]:
X_train,X_test,y_train,y_test=train_test_split(authors_df,y,random_state=42,test_size=0.2)

In [8]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer

In [9]:
tokenizer = RegexpTokenizer(r'\w+')
lemmatizer = WordNetLemmatizer()
stemmer=PorterStemmer()


def preprocessing(text):
    
    final_tokens=' '
    tokens=tokenizer.tokenize(text)
    #print('Tokens:',tokens)
    pure_tokens=[token.lower() for token in tokens if token.lower() not in stopwords.words('english')]
    #print('Pure Tokens:',pure_tokens)
    stemmed_tokens=[stemmer.stem(pure_token) for pure_token in pure_tokens]
    
    final_tokens=final_tokens.join(stemmed_tokens)
    
    return final_tokens


X_train['Cleaned_text']=X_train['text'].apply(preprocessing)

D:\New folder\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy